.conocimientos{
    background-color:#f7e6d0cc ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.conoctitulo{
    margin-top: 50px;
}

.conoctitulo h2{
    font-size: 2.5em;
}

.conoctexto{
    margin-top: 40px;
    width: 70%;
    display: flex;
    justify-content: center;
}


.conoctexto p{
    text-align: center;
    font-size: 1.2em;
    
}

.containericonos{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 25px;

}

.icontexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 1em;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    box-shadow: -2px -1px 14px 0px rgba(128,128,128,1);
    margin-top: 30px;
}


.containericonos :hover{
    background-color: #F7C27B ;
}

.iconsize{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 400px){

    .conoctexto{
        width: 100%;
    }

    .containericonos{
        width: 100%;
    
    }

    .icontexto{
        width: 125px;
        height: 125px;
    }

    .iconsize{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 580px){
    .conoctexto{
        width: 85%;
    }

}

@media screen and (max-width: 750px){
    .conoctexto{
        width: 100%;
    }

    .containericonos{
        width: 100%;
    }


}